button.btn.btn-success.add Add

table
    thead
        tr.table-header
            th Name
            th Proteins
            th Carbs
            th Fats
            th Calories
            th ACTIONS
    tbody

#modal.modal.fade(role='dialog', tabindex='-1')

