.main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  .add {
    margin-bottom: 12px;
  }

  .table-header {
    border-bottom: 1px solid black;
    th {
      text-align: left;
      padding-right: 10px;
      padding-bottom: 5px;
      min-width: 100px;
    }
  }

  table {
    padding-left: auto;
    padding-right: auto;
    tbody {
      tr:nth-child(odd) {
        background: lightgrey;

      }
      tr:nth-child(even) {
        background: darkgrey;
      }
    }
    a {
      padding-right: 5px;

    }
    td {
      padding-right: 5px;
    }
  }

}