.header-main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  a:hover {
    cursor:pointer;
  }
  .header-link {
    padding-top: 15px;
    margin-right: 20px;
    height: 20px;
    float: left;
  }
  .signout {
    float: right;
  }
}